---
import './Header.scss'
---

<header class="header">
  <div class="container flex flex-between">
    <h1 class="title">Where in the world?</h1>
    <div class="header__mode">Dark Mode</div>
  </div>
</header>
