---
import './Country.scss';
---
<section class="country">

    <div class="container">
    <div class="country__flag">
        <img src="" alt="">
    </div>
    <div class="country__info">
        <h2 class="country__name"></h2>
        <ul class="country__description">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="country__borders">
            <span class="country__border"></span>
        </div>
    </div>
    </div>
</section>
